<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/ReadSensors" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="QosY4lWQad.ReadSensors" package="QosY4lWQad" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="tizen.org/feature/sensor.gyroscope"/>
    <feature name="tizen.org/feature/sensor.accelerometer"/>
    <icon src="icon.jpg"/>
    <name>ReadSensors</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
</widget>
